@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02191d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-select .ant-select-selector {
  background-color: #08252b !important;
  padding: 12px !important;
  border-color: #07373F !important;
  border-radius: 12px !important;
  color: white !important;
}

.ant-card-body {
  padding: 4px !important;
}
